.store_card {
    background-color: white;
    border: 1px solid #e5e7eb;
    border-radius: 10px;
    padding: 16px;
    margin-block: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);

    .store_card_header {
        display: flex;
        justify-content: space-between;
        align-items: center;

        h2 {
            font-size: 1.6rem;
            font-weight: 600;
            line-height: 1;
            margin: 0;
            // font-family: m;
        }

        .status {
            padding: 4px 10px;
            border-radius: 12px;
            font-size: 0.8rem;
            font-weight: 500;

            background: #dcfce7;
            color: #15803d;
        }
    }

    .hr {
        border-color: #ffffff;
    }

    .store_address {
        // margin: 3px 0;
        font-size: 1rem;
        color: #6b7280;
    }

    .store_footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        gap: 10px;
        margin-top: 10px;


        .footer_content {
            display: flex;
            flex-direction: column;
        }

        .last_captured {
            font-size: 0.85rem;
            color: #6b7280;
        }

        .map_link {
            color: #2563eb;
            font-size: 0.9rem;
            font-weight: 500;
            text-decoration: none;
        }

        .actions {
            display: flex;
            gap: 10px;

            button {
                background: none;
                border: none;
                cursor: pointer;
                color: #374151;
                font-size: 1rem;

                &:hover {
                    color: #111827;
                }
            }
        }
    }
}