name: CI/CD React App

on:
  push:
    branches: [ main ]

jobs:
  build:
    if: contains(github.event.head_commit.message, 'deploy/') || contains(github.event.head_commit.message, '[deploy]')
    runs-on: ubuntu-latest
    env:
      VITE_CLOUDINARY_API_KEY: ${{ secrets.CLOUDINARY_API_KEY }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install dependencies
        run: npm ci

      - name: Build project
        run: npm run build

      - name: Upload build artifact
        uses: actions/upload-artifact@v4
        with:
          name: react-build
          path: dist

  deploy:
    needs: build
    if: contains(github.event.head_commit.message, 'deploy/') || contains(github.event.head_commit.message, '[deploy]')
    runs-on: ubuntu-latest
    steps:
      - name: Download build artifact
        uses: actions/download-artifact@v4
        with:
          name: react-build
          path: dist

      - name: Deploy to VPS
        uses: appleboy/scp-action@master
        with:
          host: ${{ secrets.VPS_HOST }}
          username: ${{ secrets.VPS_USER }}
          key: ${{ secrets.VPS_KEY }}
          source: "dist/*"
          target: "/var/www/TASKWEB_FRONTEND/dist"
          strip_components: 1 
          rm: true             

      # - name: Restart web server
      #   uses: appleboy/ssh-action@master
      #   with:
      #     host: ${{ secrets.VPS_HOST }}
      #     username: ${{ secrets.VPS_USER }}
      #     key: ${{ secrets.VPS_KEY }}
      #     script: |
